*~
\#*
*.elc
*.dat
*.data
.*
*.last

auto-save-list/
backups/
deepin-emacs/
el-get/
elpa/
emms/
eshell/
games/
magithub/
mentor/
request/
roguel-ike-saves/
site-lisp/
tutorial/
url/
var/
vimish-fold/
xkcd/

abbrev_defs
recentf
tramp
places
bookmarks
